{% extends 'base.html' %}
{% load static %}

{% block title %}Business Data - Personal Portfolio{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="display-5 fw-bolder text-center mb-5">Business Data Visualisation with Looker Studio</h1>
        <p class="mt-5">
            The goal of this project was to showcase my data visualization skills using Looker Studio. I utilized data from an 
            <a href="https://www.kaggle.com/datasets/mervemenekse/ecommerce-dataset" target="_blank" class="text-reset">E-Commerce dataset</a> to create a 
            comprehensive yearly overview for an E-Commerce platform. The report provides insights into various key metrics, including sales, shipping, 
            customer demographics, and other valuable information from the past year.
        </p>
        <p>
            <strong>Please note:</strong> The report may take a little time to load due to the large number of data points being processed. 
            While there are several ways to optimize loading times, I chose not to implement these optimizations in order to display a 
            wide variety of charts with detailed information and to keep the dashboard fully interactive for this website.
        </p>
        <p>
            Below is the interactive report I created.
        </p>
        <iframe width="100%" height="850" src="https://lookerstudio.google.com/embed/reporting/d20c7a6b-a685-4fc1-8d03-de0f06317301/page/bVEAE" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        
        <div class="separator my-4"></div>
        <h2 class="text-success collapsible-heading collapsed" data-bs-toggle="collapse" href="#dataset" role="button" aria-expanded="false" aria-controls="dashboard">
            Dataset Overview <span class="arrow bi text-success"></span>
        </h2>
        <div class="collapse" id="dataset">
            <p>
                This dataset provides a detailed analysis of customer purchases over one year on an American E-commerce platform. 
                Each entry represents a single order, capturing key information such as the order date, customer ID, sales amount, profit, and more. 
                In total, the dataset contains 51,290 entries.
            </p>
            <ul>
                <li><strong>Order_Date:</strong> The date the product was ordered.</li>
                <li><strong>Aging:</strong> The time from the day the product is ordered to the day it is delivered.</li>
                <li><strong>Customer_id:</strong> Unique ID created for each customer.</li>
                <li><strong>Gender:</strong> Gender of the customer.</li>
                <li><strong>Device_Type:</strong> The device the customer uses to complete the transaction (Web/Mobile).</li>
                <li><strong>Customer_Login_Type:</strong> The type the customer logged in as, such as Member, Guest, etc.</li>
                <li><strong>Product_Category:</strong> Category of the product.</li>
                <li><strong>Product:</strong> Specific product.</li>
                <li><strong>Sales:</strong> Total sales amount.</li>
                <li><strong>Quantity:</strong> Unit amount of the product.</li>
                <li><strong>Discount:</strong> Percent discount rate.</li>
                <li><strong>Profit:</strong> Profit from the sale.</li>
                <li><strong>Shipping_cost:</strong> Cost of shipping the product.</li>
                <li><strong>Order_Priority:</strong> Priority of the order, such as critical, high, etc.</li>
                <li><strong>Payment_method:</strong> Method of payment used.</li>
            </ul>
        </div>
        <div class="separator my-4"></div>
        <h2 class="text-success collapsible-heading collapsed" data-bs-toggle="collapse" href="#dashboard" role="button" aria-expanded="false" aria-controls="dashboard">
            Dashboard <span class="arrow bi text-success"></span>
        </h2>
        <div class="collapse" id="dashboard">
            <p>
                The first page of the dashboard offers a comprehensive overview of yearly sales performance, helping users quickly 
                assess key metrics and trends. By allowing data to be filtered by quarters and login type, it provides valuable insights 
                that can guide strategic decisions and improvements in product offerings, customer targeting, and operational efficiency.
            </p>
            <p>
                The second page of the dashboard provides deeper insights into customer behavior and sales patterns. It reveals 
                when most products are sold, highlights top customers, and analyzes daily sales trends throughout the year. 
                Additionally, it offers a view of the best-performing days and the impact of discounts, helping to identify 
                opportunities for maximizing sales and optimizing promotional strategies.
            </p>
        </div>
    </div>
</section>
{% endblock %}
