@charset "UTF-8";

 html, body {
  background-color: #1f1f1f !important;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* COllapsable content */
.collapsible-heading {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible-heading .arrow {
  font-size: 1.5rem;
  transition: transform 0.35s ease, content 0.35s ease;
  display: inline-flex;
  align-items: center;
  color: var(--bs-success);
}

.collapsed .arrow::before {
  content: '\f138'; /* Bootstrap Icons arrow right */
}

.collapsible-heading:not(.collapsed) .arrow::before {
  content: '\f128'; /* Bootstrap Icons arrow down */
}

.separator {
  border-bottom: 1px solid #fff;
  width: 100%;
}

/* Different font wheights */
.font-weight-700 {
  font-weight: 700 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}

/* Override Success Color */
.btn-success {
  background-color: #42b378 !important;
  border-color: #42b378 !important;
}

.btn-success:hover {
  background-color: #1d8d51 !important; /* Slightly darker shade */
  border-color: #1d8d51 !important; /* Slightly darker shade */
}

.text-success {
  color: #52D18F !important;
}

.social-icons a:hover .bi {
  color: #52D18F; /* Replace with your desired color */
}

.custom-bg {
  background-color: #52D18F !important; /* Replace with your desired color */
}

/* Profil card on main page */
.profil-card {
  background-color: transparent !important;
  border-radius: 30px;
  overflow: hidden;
}

.profil-card-img {
  height: auto; 
  margin: 0 auto; 
  display: block; 
  padding-left: 10%; 
  padding-right: 10%;
}

.fixed-box {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  height: 70%;
  max-width: 25%;
  background-color: #1f1f1f;
  border: 0.3px solid #ffffff9c;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.fixed-box img {
  height: auto; 
  border-radius: 20px;
  margin-bottom: 20px;
  object-fit: contain;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

/* If screen is smaller */
@media (max-width: 992px) {
  .fixed-box {
    height: 100%;
  }

  .about-me p {
    max-width: 100% !important;
  }

  .form-container .contact-card {
    width: 100%; 
  }

  .form-container {
    height: auto; 
    padding-top: 0; 
  }

  .responsive-img {
    max-width: 100% !important;
  }
  .scrollable-container {
    width: 100% !important;
  }
  .container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

/* Navbar Styling */
.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  position: relative;
  margin: 0 15px; 
}

.nav-link {
  padding: 10px 0;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
  background: white;
}

.nav-link.active::after {
  width: 100%;
  left: 0;
  background: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Contact card */
.contact-card {
  border: 1px solid #ffffff9c;
  background: transparent;
  width: 50%; 
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.form-control {
  border: 1px solid #ced4da; 
  color: #fff; 
}

.form-control:focus {
  border-color: #52D18F; 
  box-shadow: 0 0 0 0.25rem rgba(82, 209, 143, 0.411); 
  color: #fff; 
}

/* Cards for resumen */
.custom-card2 {
  background-color: transparent !important; /* Make the background transparent */
  border: 1px solid white !important; /* Set border to white */
  transition: transform 0.3s ease; /* Add transition for transform */
}

/* Ensure text color and other styles are inherited properly */
.custom-card2 .card-body {
  color: inherit; 
}

/* Cards for links*/
.card-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
}

/* Specific styles for custom-card */
.custom-card {
  background-color: transparent !important; /* Make the background transparent */
}

.custom-card .card {
  transition: transform 0.3s ease, background-color 0.3s ease !important;
  background-color: transparent !important; /* Make the background transparent */
  border: 1px solid white !important; /* Set border to white */
  color: inherit; 
}

.custom-card .card:hover {
  transform: scale(1.05); 
  background-color: #52D18F !important; /* Change to desired background color on hover */
  color: white;
}

/* Image US-Election */
.responsive-img {
  max-width: 60%;
  width: auto;
  transition: max-width 0.3s ease-in-out;
}

.scrollable-container {
  width: 70%;
  max-height: 500px; 
  overflow-y: auto; 
}
.full-size-image {
  width: 100%;
  height: auto; 
}

/* Connect 4 Game */

#connect4-board {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px; 
  height: auto;
  background-color: blue;
  border: 10px solid navy;
}

#connect4-board td {
  width: 14.28%; 
  padding-top: calc(100% / 8); 
  position: relative;
  border: 1px solid #ffffff;
  cursor: pointer;
}

#connect4-board td div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  height: 70%; 
  width: 70%;
  border-radius: 50%;
  border: 5px solid navy;
}

.empty {
  background-color: rgb(255, 255, 255) !important;
}

.player1 {
  background-color: red !important;
}

.player2 {
  background-color: yellow !important;
}